#home {
    .s-top {
        height: 680px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        h1 {
            font-size: rem(38);
            font-weight: 400;
            color: #fff;
            margin-left: 30px;
            span {
                font-weight: bold;
                position: relative;
                z-index: 9;
                &.mark {
                    &:before {
                        content: "";
                        background: $pink;
                        bottom: 0;
                        left: -5px;
                        position: absolute;
                        z-index: -1;
                        width: calc(100% + 13px);
                        height: 50%;
                    }
                }
            }
        }

        @media(max-width: 991px){
            height: calc(100vh - 100px);
            max-height: 500px;
            h1{
                font-size: rem(28);
                line-height: rem(38);
                margin-top: 40px;
            }
        }
    }

    .s-benefits {
        position: relative;
        &:before{
            background-image: url(../images/shape_1.png);
            content: '';
            width: 513px;
            height: 525px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: -30px;
            top: 76px;
            @media(max-width: 991px){
                display: none;
            }
        }

        .grid-benefits {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            margin-top: -110px;
            margin-bottom: 80px;
            .item {
                background-color: #fff;
                box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
                padding: 1rem 1.5rem;
                border-radius: 25px;
                z-index: 99;
                position: relative;
                .ico {
                    img {
                        width: 50px;
                        height: auto;
                    }
                }
                h3 {
                    font-size: rem(16);
                    line-height: rem(26);
                }
                p {
                    font-size: rem(14.5);
                    margin: 15px 0 20px 0;
                    min-height: 54px;
                }
            }
            @media(max-width: 991px){
                grid-template-columns: 1fr;
                margin-top: 0;
                padding: 30px 0;
                margin-bottom: 40px;
            }
        }

        .box-center {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 65px;
            text-align: center;
            h3 {
                max-width: 500px;
            }
            p {
                max-width: 550px;
                line-height: rem(26);
            }
        }

        .grid-itens {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 30px;
            @media (min-width: 992px) {
                padding: 0 50px;
            }
            .item {
                .ico {
                    margin-bottom: 10px;
                    img {
                        width: 60px;
                        height: auto;
                    }
                }
                h3 {
                    font-size: rem(16);
                    line-height: rem(26);
                }
                p {
                    font-size: rem(16);
                    line-height: rem(26);
                    margin: 5px 0 20px 0;
                }
            }
            @media(max-width: 991px){
                grid-template-columns: 1fr;
            }
        }
    }

    .s-our-platform {
        padding: 150px 0 120px 0;
        position: relative;
        &:before{
            background-image: url(../images/shape_2.png);
            content: '';
            width: 475px;
            height: 835px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: -50px;
            bottom: 50px;
            @media(max-width: 1500px){
                right: -180px;
            }
            @media(max-width: 991px){
                display: none;
            }
        }
        .box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 145px;
            .img {
                img {
                    max-width: 460px;
                    height: auto;
                }
            }
            .info {
                .box-title {
                    h3 {
                        margin-bottom: 25px;
                    }
                }
                ul {
                    padding: 0;
                    margin-bottom: 40px;
                    li {
                        position: relative;
                        padding: 10px 0;
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        &:before {
                            display: block;
                            width: 20px;
                            height: 20px;
                            content: "";
                            background-size: cover;
                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cg id='Grupo_9467' data-name='Grupo 9467' transform='translate(-853 -3761)'%3E%3Cg id='Grupo_6063' data-name='Grupo 6063' transform='translate(853 3761)'%3E%3Cg id='Grupo_6062' data-name='Grupo 6062' transform='translate(0 0)'%3E%3Cg id='Grupo_6061' data-name='Grupo 6061'%3E%3Cg id='Grupo_6058' data-name='Grupo 6058' transform='translate(8.073 4.272)'%3E%3Cg id='Grupo_6057' data-name='Grupo 6057'%3E%3Cpath id='Caminho_7971' data-name='Caminho 7971' d='M146.523,64.7a1.281,1.281,0,0,0-1.812,0L129.338,80.034l-5.546-6.024a1.281,1.281,0,0,0-1.885,1.736l6.45,7a1.28,1.28,0,0,0,.915.413h.027a1.283,1.283,0,0,0,.9-.374L146.52,66.516A1.281,1.281,0,0,0,146.523,64.7Z' transform='translate(-121.568 -64.327)' fill='%23d22688'/%3E%3C/g%3E%3C/g%3E%3Cg id='Grupo_6060' data-name='Grupo 6060'%3E%3Cg id='Grupo_6059' data-name='Grupo 6059'%3E%3Cpath id='Caminho_7972' data-name='Caminho 7972' d='M32.719,15.719A1.281,1.281,0,0,0,31.437,17,14.437,14.437,0,1,1,17,2.563,1.281,1.281,0,1,0,17,0,17,17,0,1,0,34,17,1.281,1.281,0,0,0,32.719,15.719Z' transform='translate(0 0)' fill='%23d22688'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                    }
                }
                .shop {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
            }
        }
        @media(max-width: 991px){
            padding: 50px 0;
            .box{
             flex-direction: column;
             gap: 30px;
             .img{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}


.s-purpose{

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 145px;
        .info{
            .box-title{
                h3{
                    margin-bottom: 30px;
                }
            }
            p{
              margin-bottom: 30px;
              @media(min-width: 992px){
                max-width: 450px;
            }
        }
        .btn{
            width: 190px;
            @media(max-width: 991px){
                width: 100%;
            }
        }
    }
    .img{
       text-align: right;
       width: 100%;
       img{
          max-width: 520px;
          height: auto;
          width: 100%;
      }
  }
  @media(max-width: 991px){
     grid-template-columns: 1fr;
     gap: 40px;
 }
}
}

.s-cta{
    padding: 120px 0;
    .cta{
        background-color: #000;
        max-width: 900px;
        background: #000;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: relative;
        width: 100%;
        padding: 28px;
        img{
            width: 219px;
            height: auto;
            margin: -6rem auto;
        }
        h3{
            color: #fff;
            font-size: rem(28);
            line-height: rem(38);
            padding-left: 30px;
            span{
                color: $pink;
            }
        }
    }
    @media(max-width: 991px){
        padding: 60px 0;
        .cta{
            flex-direction: column;
            padding: 20px 15px;
            text-align: center;
            img{
                margin: 0;
            }
            h3{
                font-size: rem(22);
                line-height: rem(32);
                padding-left: 0;
            }
        }
    }
}

.s-download{
    padding: 100px 0 150px 0;
    .block{
        background: #000;
        border-radius: 25px;
        display: grid;
        grid-template-columns: 440px 1fr;
        gap: 70px;
        padding-right: 70px;
        .img{
            position: relative;
            img{
                position: absolute;
                left: 70px;
                top: -90px;
            }
            &:before{
               background-image: url(../images/shape_3.png);
               width: 440px;
               height: 312px;
               max-height: 100%;
               background-size: cover;
               background-repeat: no-repeat;
               position: absolute;
               left: 20px;
               content: '';
           }
       }
       .info{
        padding: 40px 0;
        h2{
            font-size: rem(40);
            line-height: rem(50);
            margin-bottom: 30px;
            color: #fff;
            max-width: 560px;
            span{
                color: $pink;
            }
        }
        .shop {
            display: flex;
            align-items: center;
            gap: 15px;
            a{
                border: 1px solid #fff;
                border-radius: 5px;
                overflow: hidden;
            }
        }
    }
}

@media(max-width: 991px){
    padding: 50px 0;
    background-color: #000;
    .block{
     grid-template-columns: 1fr;
     border-radius: 0;
     gap: 0;
     padding-right: 0;
     .img{
        text-align: center;
        img{
            position: relative;
            left: inherit;
            top: inherit;
        }
        &:before{
         display: none;
     }
 }
 .info{
    h2{
        font-size: rem(24);
        line-height: rem(34);
    }
    .shop{
        img{
            max-width: 100%;
            height: auto;
        }
    }
}
}
}
}

}
